## PyCity Schools Analysis
PLEASE IGNORE!!!

In [5]:
import pandas as pd
from pathlib import Path

In [6]:
# File to Load (Remember to Change These)
school_data_to_load = Path("PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("PyCitySchools/Resources/students_complete.csv")

In [7]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [8]:
len(school_data_complete['Student ID'])

39170

In [9]:
# total number of schools in data frame
schools_count = len(school_data_complete['School ID'].unique())
schools_count

15

In [10]:
# total number of students in data frame
students_count = len(school_data_complete['Student ID'].unique())
students_count

39170

In [11]:
# total budget
total_budget = sum(school_data_complete['budget'].unique())
total_budget

24649428

In [12]:
# average math score
avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [13]:
# average reading score
avg_reading_score = school_data_complete['reading_score'].mean()
avg_reading_score

81.87784018381414

In [14]:
# % passing math (>= 70%)
count_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)].count()['student_name']
pct_passing_math = count_passing_math/students_count *100
print(f'{round(pct_passing_math,2)}% of students in the district are passing math')

74.98% of students in the district are passing math

In [15]:
# % passing reading (>= 70%)
count_passing_reading = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
pct_passing_reading = count_passing_reading/students_count *100
print(f'{round(pct_passing_reading,2)}% of students in the district are passing reading')

85.81% of students in the district are passing reading

In [16]:
# % passing both math AND reading
count_passing_both = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
].count()['student_name']

pct_passing_both = count_passing_both/students_count *100
print(f'{round(pct_passing_both,2)}% of students in the district are passing both math and reading')

65.17% of students in the district are passing both math and reading

In [19]:
# district's key metrics snapshot dataframe

cols = [
    'Total Schools', 'Total Students', 'Total Budget', 
    'Average Math Score', 'Average Reading Score',
    '% Passing Math', '% Passing Reading', '% Overall Passing'
]

data = [
    schools_count, students_count, total_budget,
    avg_math_score, avg_reading_score,
    pct_passing_math, pct_passing_reading, pct_passing_both
]

district_summary = pd.DataFrame(data=[data], columns=[cols])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

AttributeError: 'DataFrame' object has no attribute 'map'

## School Summary

In [66]:
# finding all school types
all_id_list = list(school_data_complete['School ID'])
id_list = list(school_data_complete['School ID'].unique())
id_list_index = [] #list(school_data_complete.index(school_data_complete[names]))
school_types = []

i=0
index=0

for id_ in all_id_list:
    if id_ == id_list[i]:
        index += 1
    else:
        id_list_index.append(index-1)
        index += 1
        i +=1

id_list_index

for j in id_list_index:
#     print(j)
    school_types.append(school_data_complete.loc[j, 'type'])
print(school_types, id_list_index)

['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'District', 'District'] [2916, 5865, 7626, 12261, 13729, 16012, 17870, 22846, 23273, 24235, 26035, 30034, 34795, 37534]

In [77]:
# new_id_list = id_list.append(15)
new_id_list = list(range(0, 16))
new_id_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [3]:
# total students per school
per_school_counts = []

count = 0
i=0
total = 0
for id_ in all_id_list:
    total += 1
    if id_ == new_id_list[i]:
        count += 1
    else:
        per_school_counts.append(count)
        print(new_id_list[i], school_data_complete.loc[total-2, 'school_name'], count)
        i += 1
        count = 1
per_school_counts.append(count)
print(new_id_list[i], school_data_complete.loc[total-1, 'school_name'], count)

print(total)
print(sum(per_school_counts))

NameError: name 'all_id_list' is not defined

In [2]:
print(per_school_counts)

NameError: name 'per_school_counts' is not defined